.scroll-pane {
   -fx-background: transparent;
   -fx-control-inner-background: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


.HBox {
    -fx-background-color: #1d1d1d; 
}
.vbox {
    -fx-background-color: #1d1d1d; 
}

* :disabled {
    -fx-opacity: 0.7;
}
.progress-bar .bar { 
    -fx-padding: 1px; 
    -fx-background-insets: 0; 
}

.button{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 )
}

.list-view {
    -fx-background: rgba(0, 0, 0, 0);
    -fx-background-color: rgba(0, 0, 0, 0);
}
.list-cell { /* <=== changed to even */
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background: rgba(0, 0, 0, 0);
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}



.dialog-pane {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}